body {
	font-family:montserrat;
}
nav {
	height: 84px;
	background: #570000;
	width:100%;
}
nav ul {
	float: right;
	margin-right:20px;
}

nav ul li {
	display: inline-block;
	line-height:80px;
	margin:0 5px;
}

nav ul li a {
	color:white;
	font-size: 23px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
}
label.headerpart {
	color:white;
	font-size: 35px;
	line-height:80px;
	padding:0 100px;
	font-weight:bold;
}



